.error-indicator {
    max-width: 400px;
    margin: 0 auto;
    color: red;
    font-size: 22px;
    text-align: center;
}

.error-indicator img {
    width: 100px;
}

.error-indicator span {
    display: block;

    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
}


