
.random-planet {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;
    max-width: 1200px;
}

.random-planet .planet-image {
    width: 150px;
    margin-right: 1rem;
    border-radius: 10px;
}

.random-planet .list-group-item {
    padding: .25rem;
}

.random-planet .list-group-item .term{
    margin-right: .5rem;
}

.card-body h4 {
    margin-right: 1rem;
}
